<%- include layout/head %>
    <table>
      <tr>
        <td>First Name</td>
        <td>: <%= dataStudent.first_name %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>: <%= dataStudent.last_name %></td>
      </tr>
      <tr>
        <td>Full Name</td>
        <td>: <%= dataStudent.full_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>: <%= dataStudent.email %></td>
      </tr>
      <tr>
        <td><br>Choose Subject</td>
      </tr>
    </table>
    <form class="" action="/students/<%=dataStudent.id%>/addsubject" method="post">
      <select class="" name="subjectId">
        <% dataSS.forEach(subject=>{ %>
        <option value="<%=subject.id%>"><%= subject.subject_name %></option>
        <% }) %>
      </select>
      <br><br><input type="submit" name="" value="Add Subject">
    </form>
<%- include layout/foot %>
