<%- include layout/head %>
    <a href="/teachers/add">Add teacher</a><br><br>
    <table border="1">
      <thead>
        <th>No.</th>
        <th>Teacher Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th colspan="2">Actions</th>
      </thead>
      <% let index = 1 %>
      <% data.forEach(d=>{ %>
      <tbody>
        <td><%= index %></td>
        <td><%= d.id %></td>
        <td><%= d.first_name %></td>
        <td><%= d.last_name %></td>
        <td><%= d.email %></td>
        <% if(d.subjectId == null){ %>
          <td>unnasigned</td>
        <% }else{ %>
          <td><%= d.subject %></td>
        <% } %>
        <td><a href="/teachers/edit/<%= d.id %>">Edit</a></td>
        <td><a href="/teachers/delete/<%= d.id %>">Delete</a></td>
      </tbody>
      <% index++ }) %>
    </table>
<%- include layout/foot %>
